input, textarea{
    border: none;
    resize: none;
    outline: none;
    padding: 15px;
    width: 600px;
    height: 50px;
    margin:10px;
    transition: all 300ms;
    font-family: sans-serif;
    border-bottom: 1px solid var(--color-third);
    background: var(--color-bg);
}

.main-form-btn {
    background: var(--color-second);
    color: #fff;
    width: 600px;
    height: 50px;
    font-size: 20px;
    outline: none;
}

.main-form-boton {
    padding: 40px;
}

input:focus, textarea:focus {
    border-bottom-color: var(--color-first);
}

