.main-caracteristicas-parrafo {
    text-align: justify;
    line-height: 25px;
}

.btn-radius {
    background: var(--color-third);
    color: #fff;
}

.btn-radius:hover {
    background: var(--color-first);
    color: #fff;
}

.main-funcionamiento-lampara {
    margin-top: 4rem;
}

.text-parrafo {
    line-height: 25px;
    text-align: justify;
}

.main-icon-ventajas {
    width: 50px;
    height: 50px;
}

.main-icon {
    margin-top: 30px;
}

.text-parrafo-ventajas{
    line-height: 30px;
    text-align: justify;
    margin-top: 50px;
}