.section-title {
    color: var(--color-text);
}

/* Contenedor "Sobre nosotros" */
.main-history {
    margin-top: 3rem;
}

/* img oficina */
.img-oficina {
    border-radius: 20px;
}

/* Texto "Sobre nosotros" */
.text-about {
    margin: 1rem;
    text-align: justify;
    line-height: 25px;
}

/* Contenedor nuestros clientes */
.main-customers {
    margin-top: 3rem;
}

.logo-customers {
    border: 2px solid var(--color-first);
    border-radius: 20px;
    margin-top: 2rem;
}